<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Zend Framework Default Application</title>
</head>
<body>

<div>
    <div id="error-image">
        <img src="/images/error.gif" alt=""/>
    </div>
    <div id="error-messages">
        <h1><?php echo $this->title;  ?></h1>
        <?php echo $this->message; ?>
    </div>
</div>

<?php if ('development' == APPLICATION_ENV): ?>
<div id="error-data">
    <h2>Exception message: </h2>
    <pre><?php echo $this->exception->getMessage(); ?></pre>

    <h2>Stach trace:</h2>
    <pre><?php echo $this->exception->getTraceAsString(); ?></pre>

    <h2>Request method: </h2>
    <pre><?php echo $this->request->getMethod(); ?></pre>

    <h2>Request parameters: </h2>
    <pre><?php Zend_Debug::dump($this->request->getParams()); ?></pre>

    <h2>Server environment: </h2>
    <pre><?php Zend_Debug::dump($this->request->getServer()); ?></pre>

    <h2>System environment: </h2>
    <pre><?php Zend_Debug::dump($this->request->getEnv()); ?></pre>
</div>
<?php endif; ?>

</body>
</html>
