<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <base href="/"/>
    <link rel="stylesheet" href="/css/master.css" type="text/css"/>
    <link rel="stylesheet" href="/css/admin.css" type="text/css"/>
    <link rel="stylesheet" href="/css/foundation.min.css" type="text/css"/>
    <?php echo $this->headLink(); ?>
    <?php echo $this->headScript(); ?>
<!--    <script type="text/javascript" src="/js/form.js"></script>-->
<!--    <script type="text/javascript" src="/js/foundation.min.js"></script>-->
<!--    <script type="text/javascript" src="/js/jquery.js"></script>-->
</head>
<body>
    <div id="header">
        <div id="logo">
            <img width="150" src="/images/logo.gif" alt=""/>
        </div>
        <div id="menu">
            <?php  if(Zend_Auth::getInstance()->hasIdentity()): ?>
            <a href="<?php echo $this->url(array(), 'admin-catalog-index'); ?>">CATALOG</a>
            <a href="<?php echo $this->url(array(), 'admin-config'); ?>">SETTINGS</a>
            <a href="<?php echo $this->url(array(), 'logout'); ?>">LOGOUT</a>
            <?php else: ?>
            <a href="<?php echo $this->url(array(), 'login'); ?>">LOGIN</a>
            <?php endif; ?>
        </div>
    </div>
    <div id="content">
        <?php echo $this->layout()->content ?>
    </div>
<div id="footer">
    <p>Admin panel</p>
</div>
</body>
</html>