<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <base href="/"/>
    <link rel="stylesheet" href="/css/master.css" type="text/css"/>
    <link rel="stylesheet" href="/css/foundation.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" type="text/css"/>
    <?php
//    if ($this->dojo()->isEnabled()): echo $this->dojo(); endif;
    echo $this->jQuery();
    ?>
<!--    <script type="text/javascript" src="/js/foundation.min.js"></script>-->
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
</head>
<body class="tundra">
<div class="row">
    <div class="large-4 columns">
        <ul class="button-group">
            <li>
                <a href="/">
                    <img width="140" src="/images/logo.gif" alt=""/>
                </a>
            </li>
            <li>
                <a href="<?php echo $this->url(
                    array('module' => 'default', 'controller' => 'locale', 'action' => 'index', 'locale' => 'en_GB'),
                    'default', true
                ); ?>">
                    <img width="40" src="/images/locale/en_en.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="<?php echo $this->url(
                    array('module' => 'default', 'controller' => 'locale', 'action' => 'index', 'locale' => 'fr_FR'),
                    'default', true
                ); ?>">
                    <img width="40" src="/images/locale/fr_fr.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="<?php echo $this->url(
                    array('module' => 'default', 'controller' => 'locale', 'action' => 'index', 'locale' => 'de_DE'),
                    'default', true
                ); ?>">
                    <img width="40" src="/images/locale/de_de.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="<?php echo $this->url(
                    array('module' => 'default', 'controller' => 'locale', 'action' => 'index', 'locale' => 'ru_RU'),
                    'default', true
                ); ?>">
                    <img width="40" src="/images/locale/ru_ru.png" alt=""/>
                </a>
            </li>
        </ul>
    </div>
    <div class="large-8 columns">
        <?php echo $this->navigation()->menu()->renderMenu(
            null, array(
                       'ulClass' => 'button-group'
                  )
        ); ?>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <?php echo $this->layout()->content; ?>
    </div>
</div>

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-12">
                <h4>
                    <?php echo $this->translate('created-with'); ?>
                    Zend Framework
                </h4>
            </div>
        </div>
    </div>
</footer>

</body>
</html>